.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    font-size: 1.12rem;
    line-height: 25px !important;

    // line-height: 2 !important;
  }
  .module {
    // max-width: 500px;
    height: 25px;
    overflow: hidden;
  }
  .cardheader {
    padding: 0px 20px !important;
    background: "#dcdbdb",
  }
  .cardtitle {
    max-width: 60%;
    margin-bottom: 0px !important;
  }
  .actions{
    margin-bottom: 0px !important;
    margin-right: 20px;
  }
  .actionbutton {
    padding: 0;
    margin-left: "10px"
  }
  .chip {
    width: fit-content;
}

  